<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>

    <link rel="stylesheet" href="../static/style.css">

</head>
<body>

    <div class="container">
        <div>
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter your username" name="username" required>
        </div>
    
        <div>
            <label for="password"><b>Password</b></label>
            <input type="text" placeholder="Enter your password" name="password" required>
        </div>
    </div>

    <button type="submit">Login</button>
    <form action="registration.html" method="POST">
        <input type="submit" value="Register">
    </form>
    
</body>
</html>