<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registration Page</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <form action="action_page.php">
        <h1>Please fill up the details below:</h1>
        <div class="container">

        <div>
            <label for="Email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email Address">
        </div>

        <div>
            <label for="Username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username">
        </div>

        <div>
            <label for="Password"><b>Password</b></label>
            <input type="text" placeholder="Enter Password">
        </div>

        </div>

        <button type="submit">Register</button>
    </form>
    
</body>
</html>